.container__logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;

    .logo__image_app {
        width: 140px;
    }

    .logo__text {
        font-weight: bold;
        display: flex;

        span {
            font-size: 18pt;
        }
        span:nth-child(2) {
            color: #00a3ff;
        }
    }
}

.container_sobre__button_download {
    padding: 10px 20px;
    border: none;
    outline: none;
    background-color: #00a3ff;
    color: #fff;
    border-radius: 5px;
    box-shadow: 1px 1px 2px #00000085;
    cursor: pointer;
    transition: all .5s;
    margin-top: 10px;
}

.container_sobre__button_download:hover {
    background-color: #008ddf;
}

.container__sobre {
    .sobre__titulo {
        margin-top: 30px;
    }
}