.welcome__logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;

    .logo__image_app {
        width: 140px;
    }

    .logo__text {
        font-weight: bold;
        display: flex;

        span {
            font-size: 18pt;
        }
        span:nth-child(2) {
            color: #00a3ff;
        }
    }
}

.welcome__text {
    strong {
        font-size: 17pt;
        color: #00a3ff;
    }
}